.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  padding: 40px 80px 40px 80px;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  box-shadow: 0 2px 8px #00000014;
}

@media (max-width: 560px) {
  .container {
    margin: 10px;
    box-shadow: none;
    padding: 20px;
  }
}
